body {
    background-color: #fffaeb;
    font-family: Arial, sans-serif;
    /* overflow-x:hidden; */
}
.hover-big{
  transition: transform 0.1s;
}
.hover-big:hover{
  transform: scale(1.01);
  transition: transform 0.1s;
}

.hover-big-icons{
  transition: transform 0.2s;
}
.hover-big-icons:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}

.hover-shadow {
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 5px;
}

.hover-shadow:hover {
  background-color: rgba(0, 0, 0, 0.25); /* Light dim effect */
}

@import url('./css/auth.css');

