body {
  background-color: #fffaeb;
  font-family: Arial, sans-serif;
  /* overflow-x:hidden; */
}

.hover-big {
  transition: transform 0.1s;
}

.hover-big:hover {
  transform: scale(1.01);
  transition: transform 0.1s;
}

.hover-big-icons {
  transition: transform 0.2s;
}

.hover-big-icons:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.hover-shadow {
  transition: background-color 0.2s, transform 0.2s;
  border-radius: 5px;
}

.hover-shadow:hover {
  background-color: rgba(0, 0, 0, 0.25);
  /* Light dim effect */
}
.form-control:focus {
  /* outline: none; */
  box-shadow: none;
  border-color: inherit;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
}

.loader video {
  width: 150px;
  /* Adjust size */
  height: auto;
}

@import url('./css/auth.css');